*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    overflow: hidden;
}

ul {
    margin-left: 17%;
}

.header {
    width: 100%;
    height: auto;
}

.na {
    justify-content: space-between;
    margin-left: 80px;
}

.home {
    display: flex;
    gap: 35px;
    border-left: 1px solid gray;
}

.home img{
    margin-left: 30px;
}


.home p {
    width: 200%;
}

.black{
    background: var(--Black, #1E1B1B);
    bottom: 0;
    left: 54%;
    padding: 76.5px;
    width: 85%;
}

h1{
    color: var(--Light-Grey, #F2F2F2);    
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 84px;
    letter-spacing: -1.92px;
}

.black p{
    color: var(--Light-Grey, #F2F2F2);    
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.black button{
    display: inline-flex;
    padding: 16px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 12px;
    background: var(--Primary, #FF6433);
    border: 0;
}

.btn2 {
    background: url('../image/Circle Bottom.png');
    background-color: plum;
    border-radius: 600px;
    color: white;
    border: 0;
    width: 50px;
    height: 50px;
    background-position: bottom;
}

.provide{
    margin: 8% 0;
}

.we :nth-child(1){
    color: var(--Black, #1E1B1B);
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -1.44px;
    width: 70%;
}

.we :nth-child(2){
    color: var(--Black, #232536);
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.72px;
    opacity: 0.6;
    width: 85%;
}
.book {
    gap: 20px;
}

.line-div {
    gap: 50px;
    margin-left: 25px;
}

.line-div p {
    width: 58%;
}

.line2 {
    width: 2px;
    height: 50px;
    margin-top: 7px;
    margin-left: -22%;
}

/*.orange1{
    background: url('../image/Steps Right.png');
    background-color: hsl(355, 100%, 74%);
    width: 33.3%;
    height: 40vh;
}

.black1{
    background-image: url('../image/wire.png');

    width: 33.3%;
    height: 40vh;
}

.purple{
    background-image: url('../image/wire.png');
    width: 33.3%;
    height: 40vh;
}*/

.cont{
    background: var(--Steelgrey, #E2E6E9);
    padding-top: 8%;
}

.valued{
    justify-content: center;
}

.valued h2{
    color: var(--Black, #1E1B1B);
    text-align: center;
    font-family: Manrope;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1.74px;
    width: 60%;
}

.white{
    border: 1px solid #EBEBEB;
    background: #FFF;
    box-shadow: 11px 130px 100px 30px rgba(0, 0, 0, 0.02);
    justify-content: space-evenly;
    margin-bottom: 20px;
    height: auto;
}

.white-mobile{
    display: none!important;
}

.set{
    background: url('../image/Group 2115.svg');
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 70px;
    background-repeat: no-repeat;
    margin-bottom: -25px;
}

.set-div{
    margin-top: 35px;
}

.set-div h4{
    color: var(--Black, #1E1B1B);
    text-align: center;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.96px;
}

.set-div p{
    color: var(--Black, #232536);
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    opacity: 0.6;
    width: 80%;
    margin-left: 40px;
}

.num {
    align-items: end;
    justify-content: center;
    gap: 80px;
    margin-top: -20px;
    width: 100%;
}

.num h3 {
    font-size: 35px;
    font-weight: 700;
    color: blue;
}

.meet{
    justify-content: center;
    margin-top: 8%;
}

.meet h2{
    color: var(--Black, #1E1B1B);
    text-align: center;
    font-family: Manrope;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1.74px;
    width: 60%;
}

.first{
    justify-content: space-between;
    margin-bottom: 35px;
}

.first-black{
    background: #161616;
    top: 300px;
    text-align: center;
    padding-top: 15px;
}

.second-black{
    background: #161616;
    top: 330px;
    text-align: center;
    padding-top: 15px;
}

.last{
    justify-content: space-between;
    margin-bottom: 40px;
}
.jave{
    background-image: url('../image/Javen.png');
    width: 26.6%;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
}

.paul{
    background-image: url('../image/Paul.png');
    width: 26.6%;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
}

.devo{
    background-image: url('../image/Devon.png');
    width: 26.6%;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    
}

.jale{
    background-image: url('../image/Jalen.png');
    width: 26.6%;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
}

.kyle{
    background-image: url('../image/Kylee.png');
    width: 26.6%;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
}

.luis{
    background-image: url('../image/Luisa.png');
    width: 26.6%;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
}

footer{
    margin-top: 10%!important;
}

.back {
    gap: 0;
}

.back-car {
    flex-shrink: 0;
}

.back-car img {
    width: 100%;
}

.orange {
    background: #FF6433;
    left: 31%;
    margin-right: -6%;
    z-index: 1;
    top: 0%;
    height: 354.5px;
    flex-shrink: 0;
    padding: 40px;
}

.orange p {
    font-size: 38px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 100;
    width: 85%;
    line-height: 140%;
    letter-spacing: -1.44px;
}

.wire {
    flex-shrink: 0;
}

.wire img {
    width: 100%;
    height: 354.5px;
}

.footer {
    margin-top: 0;
    padding-top: 5%;
    opacity: 0.98;
    background: var(--Black, #302b2b);
}

.footer h3 {
    font-family: Manrope;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -1.44px;
    width: 70%;
}

.footer p {
    color: gray;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 175%;
}

.icons {
    gap: 15px;
    margin-top: 25px;
}

.foot-div {
    background: var(--Black, #1E1B1B);
    padding-top: 20px;
}

.foot {
    justify-content: space-between;
}

.contact {
    gap: 20px;
}

.contact p {
    color: white;
}

.foot-div a {
    text-decoration: none !important;
}

@media(max-width:768px){

    .home img{
        width: 15%;
    }

    .home p{
        margin-top: 20px;
    }
    .na {
        margin: 0;
    }

    ul {
        margin-left: 0;
    }

    .black-div{
        width: 50%!important;
    }

    .black{
        left: 113%;
        padding: 27.4px;
        width: 87%;
    }

    .black h1{
        font-size: 45px;
        line-height: 80px;
    }

    .provide{
        flex-direction: column;
        justify-content: center!important;
    }

    .we-div{
        width: 100%!important;
    }

    .left{
        width: 100%!important;
    }

    .set-div h4{
        width: 100%;
        font-size: 35px;
    }

    .set-div p{
        margin-left: 20px;
    }

    .jave {
        width: 50%;
        margin-bottom: 60px;
    }

    .last{
        flex-direction: column;
        align-items: center;
    }

    .first{
        flex-direction: column;
        align-items: center;
    }

    .paul {
        width: 50%;
        margin-bottom: 60px;
    }

    .devo {
        width: 50%;
        margin-bottom: 60px;
    }

    .jale {
        width: 50%;
        margin-bottom: 90px;
    }

    .kyle {
        width: 50%;
        margin-bottom: 90px;
    }

    .luis {
        width: 50%;
        margin-bottom: 60px;
    }

    .back {
        display: flex;
        height: auto;
    }

    .back-car {
        width: 50%;
        padding: 0;
    }

    .back-car img {
        width: 100%;
        height: 200px;
    }

    .orange {
        text-align: center;
        left: 30%;
        margin-right: -4%;
        height: 200px;
        padding: 3px;
    }

    .orange p {
        font-size: 28px;
        font-weight: 50;
        width: 100%;
        line-height: 130%;
        margin-top: 0;
    }

    .wire {
        padding: 0;
        width: 50%;
    }

    .wire img {
        width: 100%;
        height: 200px;
    }

    .foot {
        padding: 0;
    }

    .contact {
        gap: 13px;
    }

    .copy {
        margin-top: 3px
    }

}

@media(max-width:500px){

    ul {
        margin-left: 0;
    }

    .home img {
        width: 20%;
        height: 30%;
        margin-top: 10px;
    }

    .home p{
        margin-top: 0;
    }

    .men{
        width: 100%!important;
    }

    .black {
        left: 0;
        width: 200%;
        height: 40vh;
        top: 24px!important;
        padding: 10px;
    }

    .black h1{
        width: 100%;
        font-size: 38px;
        line-height: 28px;
    }

    .black p{
        font-size: 15px;
        font-weight: 300;
        line-height: 23px;
        width: 100%;
    }

    .we-div{
        width: 100%!important;
    }

    .we{
        margin-top: 80%;
        width: 100%!important;
    }

    .we :nth-child(1){
        width: 100%;
        text-align: center;
        font-size: 37px;
        line-height: 50px;      
    }

    .we :nth-child(2){
        text-align: center;
        width: 100%;
    }

    .right{
        width: 100%;
    }

    .book h4{
        margin-bottom: 0;
        margin-top: 10px;
    }
    .line-div{
        width: 100%;
    }

    .line-div p{
        width: 100%;
        font-size: 14px;
        margin-bottom: 0;
    }

    .true{
        width: 80%!important;
    }

    .left{
        width: 100%!important;
        margin-top: 25px;
    }

    .valued{
        display: block!important;
        width: 100%!important;
    }

    .valued h2{
        width: 100%;
        font-size: 34px;
        line-height: 50px;
    }

    .white{
        display: none!important;
    }

    .white-mobile{
        flex-direction: column!important;
        border: 1px solid #EBEBEB;
        background: #FFF;
        box-shadow: 11px 130px 100px 30px rgba(0, 0, 0, 0.02);
        margin-bottom: 5px;
        row-gap: 15px;
        height: auto;
    }

    .set-div{
        margin-top: 0;
    }

    .set-div p{
        margin-left: 30px;
    }

    .set{
        padding: 55px;
        margin-top: 10%;
    }

    .num{
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 30px;
    }

    .meet h2{
        font-size: 40px;
        font-weight: 500;
        line-height: 50px;
        width: 100%;
    }

    .first{
        flex-direction: column;
        margin: 0;
    }

    .last{
        flex-direction: column;
    }

    .jave {
        width: 100%;
        margin-bottom: 60px;
    }

    .paul {
        width: 100%;
        margin-bottom: 60px;
    }

    .devo {
        width: 100%;
        margin-bottom: 60px;
    }

    .jale {
        width: 100%;
        margin-bottom: 90px;
    }

    .kyle {
        width: 100%;
        margin-bottom: 90px;
    }

    .luis {
        width: 100%;
        margin-bottom: 60px;
    }

    .back {
        flex-direction: column;
        width: 100% !important;
    }

    .back-car {
        width: 100% !important;
        height: auto;
    }

    .back-car img {
        width: 100%;
        height: 200px;
    }

    .orange {
        text-align: center;
        left: 30%;
        margin-right: -4%;
        height: 200px;
        padding: 3px;
    }

    .orange p {
        font-size: 28px;
        font-family: Manrope;
        font-style: normal;
        font-weight: 50;
        width: 100%;
        line-height: 140%;
        letter-spacing: -1.44px;
    }

    .wire {
        height: auto;
        padding: 0 !important;
        margin-left: 12px;
        width: 100% !important;
        flex-shrink: none;
    }

    .wire img {
        width: 100% !important;
        height: 200px;
    }

    .get {
        flex-direction: column;
    }

    .footer h3 {
        font-size: 30px;
        text-align: center;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: -1.44px;
        width: 100%;
    }

    .footer p {
        font-size: 18px;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        line-height: 175%;
    }

    .icons {
        margin-left: 73px;
        margin-bottom: 25px;
    }

    .footer h5 {
        text-align: center;
    }

    .foot-div {
        padding-top: 20px;
    }

    .foot {
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }

    .contact {
        flex-direction: column;
        margin-top: 25px;
    }

}