*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    overflow: hidden;
}

.header {
    width: 100%;
    height: auto;
}

.na {
    justify-content: space-between;
    margin-left: 80px;
}

.home {
    display: flex;
    gap: 35px;
    border-left: 1px solid gray;
}

.home img {
    width: 40%;
    height: 60px;
}

.home p {
    width: 200%;
}

.blog{
    opacity: 0.8;
    background: var(--Black, #1E1B1B);
    mix-blend-mode: hard-light;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: #FFF;   
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 84px;
    letter-spacing: -1.92px;
}

.trend{
    opacity: 0.99;
    background: var(--Black, #1E1B1B);
    padding: 30px 50px 50px 65px;
    width: 50%;
}

.trend :nth-child(1){
    color: var(--Primary, #FF6433);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 2px;
}

.trend :nth-child(2){
    color: #FFF;    
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -1.2px;
}

.trend :nth-child(3){
    color: #FFF;    
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 175%;
}

.trend button{
    display: inline-flex;
    border: 0;
    padding: 16px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 12px;
    background: var(--Primary, #FF6433);
    color: white!important;
}

.bt{
    gap: 30px;
}

.bt :nth-child(2){
    color: #FFF;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 175%;
    opacity: 0.8;
    margin-top: 10px;
}

.trans{
    background: #F5F5F5;
    padding: 50px 0;
}

.new-div{
    gap: 40px;
}

.new{
    background: #FFF;
    padding: 10px;
    width: 35%;
}

.new p{
    color: var(--Grey, #939191);
    opacity: 0.8;    
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-top: 20px;
    width: 100%;
}

.new h4{
    color: var(--Black, #1E1B1B);    
    font-family: Manrope;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -1px;
    width: 100%;
}

.read{
    gap: 20px;
}

.plate h6{
    color: var(--Black, #1E1B1B);    
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.96px;
    width: 74%;
}

.plate p{
    color: var(--Grey, #939191);
    opacity: 0.8;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.plate-no{
    gap: 20px;
}

.ai{
    gap: 20px;
}

.electric{
    gap: 20px;
}

.first{
    margin-left: -70px;
    gap: 20px;
}

.first p{
    color: var(--Grey, #939191);
    opacity: 0.8;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-top: 15px;
}

.first h6{
    color: var(--Black, #1E1B1B);
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.96px;
    width: 78%;
}

.second{
    margin-left: -70px;
    gap: 20px;
}

.second p {
    color: var(--Grey, #939191);
    opacity: 0.8;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-top: 15px;
}

.second h6 {
    color: var(--Black, #1E1B1B);
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.96px;
    width: 78%;
}

.back {
    gap: 0;
}

.back-car {
    flex-shrink: 0;
}

.back-car img {
    width: 100%;
}


.orange {
    background: #FF6433;
    left: 31%;
    margin-right: -6%;
    z-index: 1;
    top: 0%;
    height: 354.5px;
    flex-shrink: 0;
    padding: 40px;
}

.orange p {
    font-size: 38px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 100;
    width: 85%;
    line-height: 140%;
    letter-spacing: -1.44px;
}

.wire {
    flex-shrink: 0;
}

.wire img {
    width: 100%;
    height: 354.5px;
}

.footer {
    margin-top: 0;
    padding-top: 5%;
    opacity: 0.98;
    background: var(--Black, #302b2b);
}

.footer h3 {
    font-family: Manrope;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -1.44px;
    width: 70%;
}

.footer p {
    color: gray;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 175%;
}

.icons {
    gap: 15px;
    margin-top: 25px;
}

.foot-div {
    background: var(--Black, #1E1B1B);
    padding-top: 20px;
}

.foot {
    justify-content: space-between;
}

.contact {
    gap: 20px;
}

.contact p {
    color: white;
}

.foot-div a {
    text-decoration: none !important;
}

@media(max-width:768px){

    .trend {
        opacity: 0.99;
        background: var(--Black, #1E1B1B);
        padding: 20px 20px;
        width: 50%;
    }

    .trend :nth-child(2) {
        text-align: center;
        font-size: 34px;
        font-weight: 500;
        line-height: 115%;
        letter-spacing: -1px;
    }

    .trend :nth-child(3) {
        text-align: center;
    }

    .bt{
        flex-direction: column;
    }

    .trend button {
        justify-content: center;
    }

    .new-div{
        flex-direction: column;
    }

    .new{
        width: 100%;
    }

    .first{
        flex-direction: column;
        margin: 0;
    }

    .second{
        flex-direction: column;
        margin: 0;
    }

    .back{
        display: flex;
        height: auto;    
    }

    .back-car {
       width: 50%;
       padding: 0;
    }

    .back-car img {
       width: 100%;
       height: 200px;
    }

    .orange {
       text-align: center;
       left: 30%;
       margin-right: -4%;
       height: 200px;
       padding: 3px;
    }

    .orange p {
       font-size: 28px;
       font-weight: 50;
       width: 100%;
       line-height: 130%;
       margin-top: 0;
    }

    .wire {
       padding: 0;
       width: 50%;
    }

    .wire img {
       width: 100%;
       height: 200px;
    }

    .foot {
        padding: 0;
    }

    .contact {
        gap: 13px;
    }

    .copy{
        margin-top: 3px
    }
}

@media(max-width:500px){

    .blog-div{
        flex-direction: column;
        padding: 0 10px;
    }

    .blog{
        width: 100%;
    }

    .trend{
        width: 100%;
    }

    .plate{
        width: 100%!important;
    }

    .plate-no {
        flex-direction: column;
        width: 100%;
    }

    .plate h6 {
        font-size: 25px;
        font-weight: 500;
        line-height: 35px;
        letter-spacing: -0.9px;
        width: 100%;
    }

    .ai{
        width: 100%;
        flex-direction: column;
    }

    .electric{
        width: 100%;
        flex-direction: column;
    }

    .first {
        width: 100%;
        margin-left: 0;
    }

    .first img{
        width: 100%;
    }

    .first h6{
        font-size: 25px;
        font-weight: 500;
        line-height: 35px;
        letter-spacing: -0.9px;
        width: 100%;
    }

    .second{
        width: 100%;
        margin-left: 0;
    }

    .second img{
        width: 100%;
    }

    .second h6{
        font-size: 25px;
        font-weight: 500;
        line-height: 35px;
        letter-spacing: -0.9px;
        width: 100%;
    }

    .back {
        flex-direction: column;
        width: 100% !important;
    }

    .back-car {
        width: 100% !important;
        height: auto;
    }

    .back-car img {
        width: 100%;
        height: 200px;
    }

    .orange {
        text-align: center;
        left: 30%;
        margin-right: -4%;
        height: 200px;
        padding: 3px;
    }

    .orange p {
        font-size: 28px;
        font-family: Manrope;
        font-style: normal;
        font-weight: 50;
        width: 100%;
        line-height: 140%;
        letter-spacing: -1.44px;
    }

    .wire {
        height: auto;
        padding: 0!important;
        margin-left: 12px;
        width: 100%!important;
        flex-shrink: none;
    }

    .wire img {
        width: 100%!important;
        height: 200px;
    }

    .get {
        flex-direction: column;
    }

    .footer h3 {
        font-size: 30px;
        text-align: center;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: -1.44px;
        width: 100%;
    }

    .footer p {
        font-size: 18px;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        line-height: 175%;
    }

    .icons {
        margin-left: 73px;
        margin-bottom: 25px;
    }

    .footer h5 {
        text-align: center;
    }

    .foot-div {
        padding-top: 20px;
    }

    .foot {
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }

    .contact {
        flex-direction: column;
        margin-top: 25px;
    }

}