*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section{
    overflow: hidden;
}

.header {
    width: 100%;
    height: auto;
}

.na {
    justify-content: space-between;
}

.home {
    display: flex;
    gap: 35px;
    border-left: 1px solid gray;
}

.home p{
    width: 200%;
}

ul {
    margin-left: 20%;
}

.home img{
    margin-left: 30px;
}

.black-div {
    left: -17%;
}

.black {
    background: #1E1B1B;
    width: 136%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56vh;
}

.black h4 {
    color: #F2F2F2;
    font-family: Manrope;
    font-size: 54px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: -1.92px;
}

.black p {
    color: var(--Light-Grey, #F2F2F2);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 400px;
}

.black button {
    display: inline-flex;
    padding: 16px 50px;
    align-items: flex-start;
    border-radius: 12px;
    color: white;
    border: 0;
    background: #FF6433;
}

.black button :hover{
    background: var(--Light-Grey, #F2F2F2);
    color: gray;
}

.con {
    padding: 70px 0;
    gap: 30px;
}

.side-div {
    background: #F5F5F5;
}


.side {
    width: 50%;
    flex-shrink: 0;
    padding: 10px;
}

.side img {
    width: 100%;
}

.side h4 {
    color: var(--Black, #1E1B1B);
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 64%;
    letter-spacing: -1.44px;
}

.side p {
    width: 80%;
    color: var(--Black, #232536);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.72px;
    opacity: 0.6;
}

.arrow-div{
    gap: 30px;
}

.arrow-div h6 {
    font-family: manrope;
    font-weight: 600;
    font-style: normal;
}

.arrow img{
    margin-top: -5px;
}

.don {
    width: 50%;
}

.card-div {
    gap: 200px;
}

.auto {
    background-color: #FF6433;
    text-align: center;
    padding: 3% 0;
    height: 33%;
    width: 185%;
}

.auto img {
    margin-top: 15%;
}

.auto:hover {
    cursor: pointer;
}

.body {
    background: white;
    box-shadow: 2px 2px 5px gray;
    text-align: center;
    padding: 3% 0;
    height: 31%;
    width: 180%;
    margin: 35% 0;
}

.body img {
    margin-top: 18%;
}

.body:hover {
    cursor: pointer;
    background-color: #FF6433;
}

.car {
    background: white;
    box-shadow: 2px 2px 5px gray;
    text-align: center;
    padding: 3% 0;
    height: 32%;
    width: 180%;
    margin: 35% 0;
}

.car img {
    margin-top: 16%;
}

.car:hover {
    cursor: pointer;
    background-color: #FF6433;
}

.engine {
    background: white;
    box-shadow: 2px 2px 5px gray;
    text-align: center;
    padding: 3% 0;
    height: 32.5%;
    width: 230%;
}

.engine img {
    margin-top: 15%;
}

.engine:hover {
    cursor: pointer;
    background-color: #FF6433;
}

.batteries {
    background: white;
    box-shadow: 2px 2px 5px gray;
    text-align: center;
    padding: 3% 0;
    width: 230%;
    height: 31.5%;
    margin: 39% 0;
}

.batteries img {
    margin-top: 19%;
}

.batteries:hover {
    cursor: pointer;
    background-color: #FF6433;
}

.ac {
    background: white;
    box-shadow: 2px 2px 5px gray;
    text-align: center;
    padding: 3% 0;
    height: 33.5%;
    width: 230%;
    margin: 35% 0;
}

.ac img {
    margin-top: 18%;
}

.ac:hover {
    cursor: pointer;
    background-color: #FF6433;
}

.how-div{
    padding-top: 45px;
    padding-bottom: 30px ;
}

.how :nth-child(2){
    margin-top: 25px;
}

.how h2{
    color: var(--Black, #1E1B1B);
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -1.44px;
}

.check{
    gap: 30px;
}

.how p{
    width: 62%;    
    color: var(--Black, #232536);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.72px;
}

.two-car{
    gap: 20px;
}

.last2{
    gap: 55px;
    padding-bottom: 25px;
}

.tyre-bon{
    gap: 20px;
}

.problem h3{
    color: var(--Black, #1E1B1B);
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1.44px;
}

.problem p{
    color: var(--Black, #232536);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.72px;
    opacity: 0.6;
}

.problem button{
    display: inline-flex;
    padding: 16px 40px;
    align-items: flex-start;
    border-radius: 12px;
    color: white;
    border: 0;
    background: var(--Primary, #FF6433);
}

.footer {
    padding-top: 5%;
    margin-top: 3%;
    opacity: 0.98;
    background: var(--Black, #302b2b);
}

.footer h3 {
    font-family: Manrope;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -1.44px;
    width: 70%;
}

.footer p {
    color: gray;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 175%;
}

.icons {
    gap: 15px;
    margin-top: 25px;
}

.foot-div {
    background: var(--Black, #1E1B1B);
    padding-top: 20px;
}

.foot {
    justify-content: space-between;
}

.contact {
    gap: 20px;
}

.contact p {
    color: white;
}

.foot-div a {
    text-decoration: none !important;
}


@media(max-width:768px) {

    .home p{
        margin-top: 20px;
    }

    .home img{
        width: 15%;
    }
    
    .na {
        margin: 0;
    }

    ul {
        margin-left: 0;
    }

    .black {
        background: #1E1B1B;
        width: 136%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40.3vh;
    }
    

    .black h4 {
        font-size: 40px;
        font-weight: 600;
        line-height: 54px;
        letter-spacing: -1.92px;
    }

    .black p {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        width: 300px;
    }

    .con{
        flex-direction: column;
    }

    .side {
        width: 100%;
    }


    .don{
        width: 100%;
    }

    .card-div {
        justify-content: center;
        margin-left: -17%;
    }

    .how-div{
        flex-direction: column;
        align-items: center;
        row-gap: 35px;
        padding: 0!important;
        margin: 0!important;
    }

    .how h2{
        text-align: center;
    }

    .how :nth-child(2){
        margin-top: 10px;
    }
    .how p{
        margin: 10px 0!important;
    }

    .last2{
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 30px;
    }

    .problem h3{
        text-align: center;
    }

    .foot {
        padding: 0;
    }

    .contact {
        gap: 13px;
    }
}


@media(max-width:500px){

    ul {
        margin-left: 0;
    }

    .home img{
        width: 20%;
        height: 30%;
        margin-top: 10px;
    }

    .home p{
        margin-top: 0;
    }

    .leg {
       flex-direction: column;
       row-gap: 15px;
       height: 460px;
    }

    .leg-car{
        width: 100%!important;
    }

    .leg img{
        width: 100%;
    }

    .black-div {
        width: 100%!important;
        left: 0;
        height: 100%;
    }

    .black {
        padding: 10px;
        text-align: center;
        display: block!important;
        width: 100%;
    }

    .black h4 {
        font-size: 25px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: -1.92px;
    }

    .black p {
        font-size: 13px;
        font-weight: 200;
        line-height: 20px;
        width: 100%;
        margin-left: 0px;
    }

    .black button {
        padding: 10px 20px;
    }

    .side{
        text-align: center;
    }

    .side h4 {
        font-size: 38px;
        font-weight: 300;
    }

    .side p {
        width: 100%;
    }

    .arrow-div{
        width: 100%;
        text-align: start;
    }

    .arrow-div h6 {
        width: 100%;        
    }

    .don {
        width: 100%;
    }

    .card-div {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        margin: 0;
        padding: 0 10px;
    }

    .card1{
        width: 100%;
    }

    .card2{
        width: 100%;
    }

    .auto {
        background-color: #FF6433;
        text-align: center;
        padding: 3% 0;
        width: 100%;
    }

    .auto img {
        margin-top: 5%;
    }

    .body {
        padding: 3% 0;
        width: 100%;
        margin: 20px 0;
    }

    .body img {
        margin-top: 5%;
    }

    .car {
        padding: 3% 0;
        width: 100%;
        margin: 25px 0;
    }

    .car img {
        margin-top: 5%;
    }

    .engine {
        padding: 3% 0;
        width: 100%;
    }

    .engine img {
        margin-top: 5%;
    }

    .batteries {
        padding: 3% 0;
        width: 100%;
        margin: 20px 0;
    }

    .batteries img{
        margin-top: 5%;
    }

    .ac {
        padding: 3% 0;
        width: 100%;
        margin: 20px 0;
    }

    .ac img {
        margin-top: 5%;
    }

    .how-div{
        padding-bottom: 25px;
    }

    .how h2 {
        font-size: 38px;
        width: 100%;
        line-height: 40px;
        font-weight: 300;
    }

    .how p{
        width: 100%;
    }

    .check {
        gap: 20px;
    }

    .two-car{
        flex-direction: column;
        row-gap: 45px;
    }

    .last2{
        padding-top: 0;
    }
    .problem h3{
        font-size: 38px;
        width: 100%;
        line-height: 50px;
        font-weight: 300;
    }

    .tyre-bon{
        flex-direction: column;
        row-gap: 45px;
    }

    .get {
        flex-direction: column;
    }

    .footer h3 {
        font-size: 30px;
        text-align: center;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: -1.44px;
        width: 100%;
    }

    .footer p {
        font-size: 18px;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        line-height: 175%;
    }

    .icons {
        margin-left: 73px;
        margin-bottom: 25px;
    }

    .footer h5 {
        text-align: center;
    }

    .foot-div {
        padding-top: 20px;
    }

    .foot {
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }

    .contact {
        flex-direction: column;
        margin-top: 25px;
    }
    

   
}