*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section{
    overflow: hidden;
}

.header {
    width: 100%;
    height: auto;
}

.na {
    justify-content: space-between;
    margin-left: 80px;
}

.home {
    display: flex;
    gap: 35px;
    border-left: 1px solid gray;
}

.home img {
    width: 40%;
    height: 60px;
    margin-top: 5px;
}

.home p {
    width: 200%;
}

.black-div {
    left: -40%;
}

.black {
    background: var(--Black, #1E1B1B);
    height: 80%;
    flex-shrink: 0;
    width: 450px;
    padding: 40px;
}

.black h4 {
    color: var(--Light-Grey, #F2F2F2);
    font-family: Manrope;
    font-size: 54px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: -1.92px;
}

.black p {
    color: var(--Light-Grey, #F2F2F2);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 400px;
}

.black button {
    display: inline-flex;
    padding: 16px 40px;
    align-items: flex-start;
    border-radius: 12px;
    color: white;
    border: 0;
    background: var(--Primary, #FF6433);
}

.black button :hover{
    background: var(--Light-Grey, #F2F2F2);
    color: gray;
}

.con {
    padding: 70px 0;
    gap: 30px;
}

.side-div {
    background: #F5F5F5;
}


.side {
    width: 50%;
    flex-shrink: 0;
    padding: 10px;
}

.side img {
    width: 100%;
}

.side h4 {
    color: var(--Black, #1E1B1B);
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 64%;
    letter-spacing: -1.44px;
}

.side p {
    width: 80%;
    color: var(--Black, #232536);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.72px;
    opacity: 0.6;
}

.arrow-div h6 {
    width: 30%;
    font-family: manrope;
    font-weight: 600;
    font-style: normal;
}

.don {
    width: 50%;
}

.card-div {
    gap: 200px;
}

.auto {
    background-color: #FF6433;
    text-align: center;
    padding: 3% 0;
    height: 33%;
    width: 185%;
}

.auto img {
    margin-top: 15%;
}

.auto:hover {
    cursor: pointer;
}

.body {
    background: white;
    box-shadow: 2px 2px 5px gray;
    text-align: center;
    padding: 3% 0;
    height: 31%;
    width: 180%;
    margin: 35% 0;
}

.body img {
    margin-top: 18%;
}

.body:hover {
    cursor: pointer;
    background-color: #FF6433;
}

.car {
    background: white;
    box-shadow: 2px 2px 5px gray;
    text-align: center;
    padding: 3% 0;
    height: 32%;
    width: 180%;
    margin: 35% 0;
}

.car img {
    margin-top: 16%;
}

.car:hover {
    cursor: pointer;
    background-color: #FF6433;
}

.engine {
    background: white;
    box-shadow: 2px 2px 5px gray;
    text-align: center;
    padding: 3% 0;
    height: 32.5%;
    width: 230%;
}

.engine img {
    margin-top: 15%;
}

.engine:hover {
    cursor: pointer;
    background-color: #FF6433;
}

.batteries {
    background: white;
    box-shadow: 2px 2px 5px gray;
    text-align: center;
    padding: 3% 0;
    width: 230%;
    height: 31.5%;
    margin: 39% 0;
}

.batteries img {
    margin-top: 19%;
}

.batteries:hover {
    cursor: pointer;
    background-color: #FF6433;
}

.ac {
    background: white;
    box-shadow: 2px 2px 5px gray;
    text-align: center;
    padding: 3% 0;
    height: 33.5%;
    width: 230%;
    margin: 35% 0;
}

.ac img {
    margin-top: 18%;
}

.ac:hover {
    cursor: pointer;
    background-color: #FF6433;
}

@media(max-width:768px) {

    .leg{
        width: 100%;
        margin-left: -10px!important;
    }

    .black-div {
        left: -70%;
        width: 50%;
    }

    .black {
        width: 300px;
        padding: 20px;
    }

    .black h4 {
        font-size: 40px;
        font-weight: 600;
        line-height: 54px;
        letter-spacing: -1.92px;
    }

    .black p {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        width: 300px;
    }

    .con{
        flex-direction: column;
    }

    .side {
        width: 100%;
    }


    .don{
        width: 100%;
    }

    .card-div {
        justify-content: center;
        margin-left: -17%;
    }

}


@media(max-width:500px){

    .leg {
        width: 100%;
        margin-left: -56px!important;
    }

    .leg img{
        width: 180%;
        height: 60vh;
    }

    .black-div {
        left: -30%;
        width: 40%;
        height: 75vh;
    }

    .black {
        padding: 10px;
        text-align: center;
        width: 200px;
    }

    .black h4 {
        font-size: 25px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: -1.92px;
    }

    .black p {
        font-size: 13px;
        font-weight: 200;
        line-height: 20px;
        width: 150px;
        margin-left: 15px;
    }

    .black button {
        padding: 10px 20px;
    }

    .side{
        text-align: center;
    }

    .side h4 {
        font-size: 38px;
        font-weight: 300;
    }

    .side p {
        width: 100%;
    }

    .arrow-div{
        width: 100%;
        text-align: start;
    }

    .arrow{
        margin-left: -140px;
    }

    .arrow-div h6 {
        width: 100%;        
    }

    .don {
        width: 100%;
    }

    .card-div {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        margin: 0;
        padding: 0 10px;
    }

    .card1{
        width: 100%;
    }

    .card2{
        width: 100%;
    }

    .auto {
        background-color: #FF6433;
        text-align: center;
        padding: 3% 0;
        width: 100%;
    }

    .auto img {
        margin-top: 5%;
    }

    .body {
        padding: 3% 0;
        width: 100%;
        margin: 20px 0;
    }

    .body img {
        margin-top: 5%;
    }

    .car {
        padding: 3% 0;
        width: 100%;
        margin: 25px 0;
    }

    .car img {
        margin-top: 5%;
    }

    .engine {
        padding: 3% 0;
        width: 100%;
    }

    .engine img {
        margin-top: 5%;
    }

    .batteries {
        padding: 3% 0;
        width: 100%;
        margin: 20px 0;
    }

    .batteries img{
        margin-top: 5%;
    }

    .ac {
        padding: 3% 0;
        width: 100%;
        margin: 20px 0;
    }

    .ac img {
        margin-top: 5%;
    }

    

   
}