*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    overflow: hidden;
}

.header {
    width: 100%;
    height: auto;
}

.na {
    justify-content: space-between;
    margin-left: 80px;
}

.home {
    display: flex;
    gap: 35px;
    border-left: 1px solid gray;
}

.home img {
    margin-left: 30px;    
}

ul{
    margin-left: 17%;
}

.home p {
    width: 200%;
}

.ot-con{
    gap: 65px;
}

h1{
    color: var(--Black, #1E1B1B);    
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    line-height: 84px;
    margin-bottom: 20px;
    margin-left: 23px;
    letter-spacing: 1.92px;
}

.other{
    background: #F5F5F5;
    width: 100%;
    flex-shrink: 0;
    justify-content: center;
    display: grid;
    padding-top: 15px;
}

.engine {
    background: white;
    text-align: center;
    padding: 10% 0;
    width: 100%;
    height: 75%;
    margin-top: 15px;
}

.engine:hover {
    cursor: pointer;
    background-color: #FF6433;
}

.car {
    background: white;
    text-align: center;
    padding: 3% 0;
    width: 100%;
    height: 65%;
    margin: 15% 0;
}

.car img {
    margin-top: 2%;
}

.car:hover {
    cursor: pointer;
    background-color: #FF6433;
}

.batteries {
    background: white;
    text-align: center;
    padding: 3% 0;
    width: 100%;
    height: 65%;
    margin: 15% 0;
}

.batteries img {
    margin-top: 2%;
}

.batteries:hover {
    cursor: pointer;
    background-color: #FF6433;
}

.Convenient{
    background: white;
    width: 328px;
    height: 670px;
    flex-shrink: 0;
}

.i-div{
    gap: 20px;
}

.icon {
    background: url('../image/Circle.svg');
    box-shadow: 2px 2px 5px gray;
    width: 107px;
    height: 48px;
    background-position: center;
    align-items: center;
    border-radius: 100px;
    justify-content: center;
    display: flex;
    margin-top: -10px;
}

.i-div p{
    width: 95%;
}

.warning{
    margin-top: -33%;
    margin-bottom: 45%;
}

.warning h4{
    color: var(--Black, #1E1B1B);    
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -1.2px;
}

.road {
    font-size: 34px!important;
    line-height: 48px!important;
    letter-spacing: -0.96px!important;
}

.warning p{
    color: var(--Black, #232536);    
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    opacity: 0.6;
    width: 100%;
}

.ut img{
    width: 5px;
    height: 85px;
}

.ut p{
    width: 100%;
}

.back {
    gap: 0;
}

.back-car {
    flex-shrink: 0;
}

.back-car img {
    width: 100%;
    height: 300px;
}


.orange {
    background: #FF6433;
    left: 31%;
    margin-right: -6%;
    z-index: 1;
    top: 0%;
    height: 300px;
    flex-shrink: 0;
    padding: 40px;
}

.orange p {
    font-size: 38px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 100;
    width: 85%;
    line-height: 140%;
    letter-spacing: -1.44px;
    margin-top: 25px;
}


.wire {
    height: 510px;
    flex-shrink: 0;
}

.wire img {
    width: 100%;
    height: 300px;
}

.footer {
    margin-top: -12%;
    padding-top: 5%;
    opacity: 0.98;
    background: var(--Black, #302b2b);
}

.footer h3 {
    font-family: Manrope;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -1.44px;
    width: 70%;
}

.footer p {
    color: gray;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 175%;
}

.icons {
    gap: 15px;
    margin-top: 25px;
}

.foot-div {
    background: var(--Black, #1E1B1B);
    padding-top: 20px;
}

.foot {
    justify-content: space-between;
}

.contact {
    gap: 20px;
}

.contact p {
    color: white;
}

.foot-div a {
    text-decoration: none !important;
}


@media(max-width:768px){
    
    .na {
        margin: 0;
    }

    .home img{
        width: 15%;
    }

    .home p{
        margin-top: 17px;
    }

    ul {
        margin-left: 0;
    }

    .ot-con{
        gap: 29px;
    }

    .warning {
        margin-top: -75%;
        width: 100%;
    }

    .warning h4 {
        font-size: 26px;
        font-weight: 600;
        text-align: center;
    }

    .road {
        font-size: 26px!important;
        font-weight: 600!important;
        text-align: center!important;
        line-height: 30px!important;
    }

    .warning p{
        font-size: 13px;
        width: 100%!important;
        margin-bottom: 0;
        line-height: 23px;
    }

    .Convenient p{
        font-size: 13px;
    }

    .Convenient h5{
        font-size: 18px;
    }

    .i-div {
        gap: 10px;
    }

    .icon {
        width: 80px;
        height: 44px;
        margin-top: 0;
    }

    .i-div p {
        width: 100%;    
    }

    .ut {
        width: 100%;
    }

    .ut img {
        width: 4px;
        margin-top: 20px!important;
        height: 80px;
        z-index: 2;
    }

    .ut p {
        margin-bottom: 0;
        top: 15px;
        margin-left: 20px!important;
    }

    .back {
        display: flex;
        height: auto;
        margin-top: 15%!important;
        margin-bottom: -18%!important;
    }

    .back-car {
        width: 50%;
        padding: 0;
    }

    .back-car img {
        width: 100%;
        /* height: 200px; */
    }

    .orange {
        text-align: center;
        left: 30%;
        margin-right: -4%;
        /* height: 200px; */
        padding: 3px;
    }

    .orange p {
        font-size: 38px;
        font-weight: 50;
        width: 100%;
        line-height: 130%;
        margin-top: 20px;
    }

    .wire {
        padding: 0;
        width: 50%;
    }

    .wire img {
        width: 100%;
        /* height: 200px; */
    }

    .foot {
        padding: 0;
    }

    .foot p{
        margin-bottom: 0!important;
    }
    .contact {
        gap: 13px;
    }

    .copy{
        margin-top: 3px;
    }
}

@media(max-width:500px){
    
    .home img{
        width: 30%;
        height: 30%;
    }

    ul {
        margin-left: 0;
    }
    .ot-con{
        flex-direction: column;  
        gap: 0;      
    }

    .other-div{
        width: 100%!important;
    }

    .other {
        width: 100%;
    }

    .Convenient{
        width: 100%!important;
        height: 100%!important;
        margin-bottom: 25px
    }

    .i-div p{
        width: 100%!important;
    }

    .icon {
        width: 80px;
        height: 41px;
        margin-top: 0;
    }

    .car{
        width: 100%!important;
    }

    .warning {
        margin-top: 0;
        margin-bottom: 0!important;
    }

    .road {
        font-size: 26px;
        font-weight: 600;
        text-align: center;
    }
    
    .ut {
        top: -35px;
        margin-top: 20%;
        width: 100%;
    }

    .ut img {
        top: 15px;
    }

    .ut p {
        top: 0;
    }

    .back {
        flex-direction: column;
        width: 100% !important;
        row-gap: 10px;
    }

    .back-car {
        width: 100% !important;
        height: auto;
        margin-top: 25%!important;
    }

    .back-car img {
        width: 100%;
        height: 200px;
    }

    .orange {
        text-align: center;
        left: 30%;
        margin-right: -4%;
        height: 200px;
        padding: 3px;
    }

    .orange p {
        font-size: 28px;
        font-weight: 50;
        width: 100%;
        line-height: 130%;
        margin-top: 0;
    }

    .wire {
        height: 300px;
        padding: 0;
        width: 100%;
    }

    .wire img {
        width: 250%;
        height: 100%;
    }

    .get {
        flex-direction: column;
    }

    .footer h3 {
        font-size: 30px;
        text-align: center;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: -1.44px;
        width: 100%;
    }

    .footer p {
        font-size: 18px;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        line-height: 175%;
    }

    .icons {
        margin-left: 73px;
        margin-bottom: 25px;
    }

    .footer h5 {
        text-align: center;
    }

    .foot-div {
        padding-top: 20px;
    }

    .foot {
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }

    .contact {
        flex-direction: column;
        margin-top: 25px;
    }
}
